@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');


/* #212529 */

body {
  font-family: "IBM Plex Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#response-viewer,
#request-editor {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9ren;
  font-weight: 700;
}

#response-editor {
  font-size: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: #ffffff;
  }
} */
